zti-utils-incubator/configurator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://com.github.cvazer/configurator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="field">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="name" use="required"/>
                    <xs:attribute type="xs:string" name="value" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="configuration">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="con:field" maxOccurs="unbounded" minOccurs="0" xmlns:con="https://com.github.cvazer/configurator"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="configurations">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="con:configuration" xmlns:con="https://com.github.cvazer/configurator"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>